In [3]:
import pandas as pd
import os

In [1]:
# Sales :
# 1. filtered_data\dbo.DimCurrency.csv
# 2. filtered_data\dbo.DimReseller.csv
# 3. filtered_data\dbo.DimSalesReason.csv
# 4. filtered_data\dbo.FactCurrencyRate.csv
# 5. filtered_data\dbo.FactInternetSales.csv
# 6. filtered_data\dbo.FactInternetSalesReason.csv
# 7. filtered_data\dbo.FactResellerSales.csv
# 8. filtered_data\dbo.FactSalesQuota.csv
# Production :
# 1. filtered_data/dbo.DimProduct.csv
# 2. filtered_data\dbo.DimProductCategory.csv
# 3. filtered_data\dbo.DimProductSubcategory.csv
# 4. filtered_data\dbo.vAssocSeqLineItems.csv
# 5. filtered_data\dbo.vAssocSeqOrders.csv
# 6. filtered_data\dbo.vDMPrep.csv

In [2]:
FactResellerSales = pd.read_csv("source_data\dbo.FactResellerSales.csv")

FactCurrencyRate = pd.read_csv("source_data\dbo.FactCurrencyRate.csv")

FactInternetSales = pd.read_csv("source_data\dbo.FactInternetSales.csv")

FactInternetSalesReason = pd.read_csv("source_data\dbo.FactInternetSalesReason.csv")

FactProductInventory = pd.read_csv("source_data\dbo.FactProductInventory.csv")

NameError: name 'pd' is not defined

In [4]:
# Visualising general data structure and contents
FactResellerSales.head(5)
# ProductKey -  FK indicating the

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,ResellerKey,EmployeeKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,349,20101229,20110110,20110105,676,285,1,100,5,SO43659,...,"1 898,09 ₽","1 898,09 ₽","2 024,99 ₽","162,00 ₽","50,62 ₽",4911-403C-98,PO522145787,29.12.2010 0:00:00,10.01.2011 0:00:00,05.01.2011 0:00:00
1,350,20101229,20110110,20110105,676,285,1,100,5,SO43659,...,"1 898,09 ₽","5 694,28 ₽","6 074,98 ₽","486,00 ₽","151,87 ₽",4911-403C-98,PO522145787,29.12.2010 0:00:00,10.01.2011 0:00:00,05.01.2011 0:00:00
2,351,20101229,20110110,20110105,676,285,1,100,5,SO43659,...,"1 898,09 ₽","1 898,09 ₽","2 024,99 ₽","162,00 ₽","50,62 ₽",4911-403C-98,PO522145787,29.12.2010 0:00:00,10.01.2011 0:00:00,05.01.2011 0:00:00
3,344,20101229,20110110,20110105,676,285,1,100,5,SO43659,...,"1 912,15 ₽","1 912,15 ₽","2 039,99 ₽","163,20 ₽","51,00 ₽",4911-403C-98,PO522145787,29.12.2010 0:00:00,10.01.2011 0:00:00,05.01.2011 0:00:00
4,345,20101229,20110110,20110105,676,285,1,100,5,SO43659,...,"1 912,15 ₽","1 912,15 ₽","2 039,99 ₽","163,20 ₽","51,00 ₽",4911-403C-98,PO522145787,29.12.2010 0:00:00,10.01.2011 0:00:00,05.01.2011 0:00:00

In [7]:
FactCurrencyRate.head(5)

   CurrencyKey   DateKey AverageRate EndOfDayRate                Date
0            3  20101229         1,0          1,0  29.12.2010 0:00:00
1            3  20101230         1,0        1,001  30.12.2010 0:00:00
2            3  20101231         1,0          1,0  31.12.2010 0:00:00
3            3  20110101         1,0          1,0  01.01.2011 0:00:00
4            3  20110102         1,0          1,0  02.01.2011 0:00:00