In [30]:
import pandas as pd
import os

In [31]:
# Tables we need to use as a Sales Department 

# Team 1 (Alex, Filip, Pablo) - Team 2 (Dmitriy,Luis,Pepe)

# 1. sales department tables\Sales.CountryRegionCurrency.csv -T2
# 2. sales department tables\Sales.CreditCard.csv - T1
# 3. sales department tables\Sales.Currency.csv . T2
# 4. sales department tables\Sales.CurrencyRate.csv - T2
# 5. sales department tables\Sales.Customer.csv - T1
# 6. sales department tables\Sales.PersonCreditCard.csv - T1
# 7. sales department tables\Sales.SalesOrderDetail.csv - T2
# 8. sales department tables\Sales.SalesOrderHeader.csv - SHARED
# 9. sales department tables\Sales.SalesOrderHeaderSalesReason.csv - T2
# 10. sales department tables\Sales.SalesPerson.csv - T1
# 11. sales department tables\Sales.SalesPersonQuotaHistory.csv -T1
# 12. sales department tables\Sales.SalesReason.csv - T2
# 13. sales department tables\Sales.SalesTaxRate.csv - T2
# 14. sales department tables\Sales.SalesTerritory.csv - T1
# 15. sales department tables\Sales.SalesTerritoryHistory.csv - T1
# 16. sales department tables\Sales.ShoppingCartItem.csv -T2
# 17. sales department tables\Sales.SpecialOffer.csv - T2
# 18. sales department tables\Sales.SpecialOfferProduct.csv - T2
# 19. sales department tables\Sales.Store.csv - T1

In [32]:
# Team 2 EDA
# 1. sales department tables\Sales.CountryRegionCurrency.csv -T2 - Luis,Pepe
# 2. sales department tables\Sales.Currency.csv . T2 - Dmitriy
# 3. sales department tables\Sales.CurrencyRate.csv - T2 - Dmitriy
# 4. sales department tables\Sales.SalesOrderDetail.csv - T2 Luis,Pepe
# 5. sales department tables\Sales.SalesOrderHeader.csv - SHARED - Dmitriy
# 6. sales department tables\Sales.SalesOrderHeaderSalesReason.csv - T2 - Dmitriy
# 7. sales department tables\Sales.SalesReason.csv - T2 - Dmitriy
# 8. sales department tables\Sales.SalesTaxRate.csv - T2 Luis,Pepe
# 9. sales department tables\Sales.ShoppingCartItem.csv -T2 Luis,Pepe
# 10. sales department tables\Sales.SpecialOffer.csv - T2 Luis,Pepe
# 11. sales department tables\Sales.SpecialOfferProduct.csv - T2 Luis,Pepe

In [33]:
# 2. sales department tables\Sales.Currency.csv . T2 - Dmitriy
# 3. sales department tables\Sales.CurrencyRate.csv - T2 - Dmitriy
# 5. sales department tables\Sales.SalesOrderHeader.csv - SHARED - Dmitriy

# Loading the datasets
sales_order_header = pd.read_csv("sales department tables/Sales.SalesOrderHeader.csv")

currency_rate = pd.read_csv("sales department tables/Sales.CurrencyRate.csv")

currency = pd.read_csv("sales department tables/Sales.Currency.csv")

In [34]:
# Printing out all the columns for easy copy paste
print("Columns in sales_order_header:", sales_order_header.columns)
print("Columns in currency_rate:", currency_rate.columns)
print("Columns in currency:", currency.columns)

Columns in sales_order_header: Index(['SalesOrderID', 'RevisionNumber', 'OrderDate', 'DueDate', 'ShipDate',
       'Status', 'OnlineOrderFlag', 'SalesOrderNumber', 'PurchaseOrderNumber',
       'AccountNumber', 'CustomerID', 'SalesPersonID', 'TerritoryID',
       'BillToAddressID', 'ShipToAddressID', 'ShipMethodID', 'CreditCardID',
       'CreditCardApprovalCode', 'CurrencyRateID', 'SubTotal', 'TaxAmt',
       'Freight', 'TotalDue', 'Comment', 'rowguid', 'ModifiedDate'],
      dtype='object')
Columns in currency_rate: Index(['CurrencyRateID', 'CurrencyRateDate', 'FromCurrencyCode',
       'ToCurrencyCode', 'AverageRate', 'EndOfDayRate', 'ModifiedDate'],
      dtype='object')
Columns in currency: Index(['CurrencyCode', 'Name', 'ModifiedDate'], dtype='object')

In [35]:
# Merging the all tables corresponding to their relationship
merged_df = pd.merge(sales_order_header, currency_rate, how='inner', on='CurrencyRateID')

merged_df = pd.merge(merged_df, currency, how='inner', left_on='ToCurrencyCode', right_on='CurrencyCode')

In [36]:
# Checking the variables for their type and checking for nulls
# Set display options to show all rows and columns - to see full picture.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Display the entire dataset
merged_df.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate_x,CurrencyRateDate,FromCurrencyCode,ToCurrencyCode,AverageRate,EndOfDayRate,ModifiedDate_y,CurrencyCode,Name,ModifiedDate
0,43661,8,31/05/2011 0:00:00,12/06/2011 0:00:00,07/06/2011 0:00:00,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,"32.726,48 €","3.153,77 €","985,55 €","36.865,80 €",NaN,d91b9131-18a4-4a11-bc3a-90b6f53e9d74,07/06/2011 0:00:00,31/05/2011 0:00:00,USD,CAD,"1,46 €","1,47 €",31/05/2011 0:00:00,CAD,Canadian Dollar,30/04/2008 0:00:00
1,43662,8,31/05/2011 0:00:00,12/06/2011 0:00:00,07/06/2011 0:00:00,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,"28.832,53 €","2.775,16 €","867,24 €","32.474,93 €",NaN,4a1ecfc0-cc3a-4740-b028-1c50bb48711c,07/06/2011 0:00:00,31/05/2011 0:00:00,USD,CAD,"1,46 €","1,47 €",31/05/2011 0:00:00,CAD,Canadian Dollar,30/04/2008 0:00:00
2,43668,8,31/05/2011 0:00:00,12/06/2011 0:00:00,07/06/2011 0:00:00,5,False,SO43668,PO14732180295,10-4020-000514,29614,282.0,6,529,529,5,1566.0,85817Vi8045,4.0,"35.944,16 €","3.461,77 €","1.081,80 €","40.487,72 €",NaN,281cc355-d538-494e-9b44-461b36a826c6,07/06/2011 0:00:00,31/05/2011 0:00:00,USD,CAD,"1,46 €","1,47 €",31/05/2011 0:00:00,CAD,Canadian Dollar,30/04/2008 0:00:00
3,43672,8,31/05/2011 0:00:00,12/06/2011 0:00:00,07/06/2011 0:00:00,5,False,SO43672,PO13862153537,10-4020-000119,30067,282.0,6,464,464,5,3980.0,95915Vi20982,4.0,"6.124,18 €","587,60 €","183,63 €","6.895,41 €",NaN,194202aa-8e15-4932-a2c4-7a7ac0713639,07/06/2011 0:00:00,31/05/2011 0:00:00,USD,CAD,"1,46 €","1,47 €",31/05/2011 0:00:00,CAD,Canadian Dollar,30/04/2008 0:00:00
4,43674,8,31/05/2011 0:00:00,12/06/2011 0:00:00,07/06/2011 0:00:00,5,False,SO43674,PO12760141756,10-4020-000083,29596,282.0,6,458,458,5,19204.0,26081Vi99806,4.0,"2.624,38 €","251,94 €","78,73 €","2.955,05 €",NaN,ce8bca02-f705-4aae-a446-5d8b660c3a1b,07/06/2011 0:00:00,31/05/2011 0:00:00,USD,CAD,"1,46 €","1,47 €",31/05/2011 0:00:00,CAD,Canadian Dollar,30/04/2008 0:00:00

In [37]:
# Describing numeric data in order to see some interesting statistics
merged_df.describe()

,SalesOrderID,RevisionNumber,Status,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CurrencyRateID,Comment
count,13976.000000,13976.000000,13976.0,13976.000000,1177.000000,13976.000000,13976.000000,13976.000000,13976.000000,13466.000000,13976.000000,0.0
mean,58898.736763,8.002075,5.0,19259.028692,284.606627,8.363194,19134.652905,19134.397968,1.336863,9638.322887,9191.499571,NaN
std,8812.385994,0.045506,0.0,6036.103119,4.387760,1.546337,7626.733843,7627.363891,1.110884,5523.183919,2945.170095,NaN
min,43661.000000,8.000000,5.0,11000.000000,274.000000,1.000000,405.000000,32.000000,1.000000,1.000000,2.000000,NaN
25%,51347.250000,8.000000,5.0,13941.000000,282.000000,6.000000,14752.000000,14752.000000,1.000000,4913.000000,8510.000000,NaN
50%,58869.500000,8.000000,5.0,18247.500000,286.000000,9.000000,20293.500000,20293.500000,1.000000,9691.500000,10074.000000,NaN
75%,66444.000000,8.000000,5.0,24304.000000,289.000000,9.000000,25067.500000,25067.500000,1.000000,14375.750000,11282.000000,NaN
max,74184.000000,9.000000,5.0,30115.000000,290.000000,10.000000,29883.000000,29883.000000,5.000000,19234.000000,12431.000000,NaN

In [38]:
merged_df.shape
# We have 13976 rows and 35 columns in this relationship

(13976, 35)

In [39]:
merged_df.isnull().sum()
# Checking for missing values. Comment is useless since is missing in all 13976 cases.
# I see correlation in missing PurchaseOrderNumber and missing CreditCardsIDs - Question is as follows:
# The reason for that might be that 510 purchases went offline and been paid by cash 12799 been ordered online and the difference of 667 is probably offline paid by card.

SalesOrderID                  0
RevisionNumber                0
OrderDate                     0
DueDate                       0
ShipDate                      0
Status                        0
OnlineOrderFlag               0
SalesOrderNumber              0
PurchaseOrderNumber       12799
AccountNumber                 0
CustomerID                    0
SalesPersonID             12799
TerritoryID                   0
BillToAddressID               0
ShipToAddressID               0
ShipMethodID                  0
CreditCardID                510
CreditCardApprovalCode      510
CurrencyRateID                0
SubTotal                      0
TaxAmt                        0
Freight                       0
TotalDue                      0
Comment                   13976
rowguid                       0
ModifiedDate_x                0
CurrencyRateDate              0
FromCurrencyCode              0
ToCurrencyCode                0
AverageRate                   0
EndOfDayRate                  0
ModifiedDate_y                0
CurrencyCode                  0
Name                          0
ModifiedDate                  0
dtype: int64

In [40]:
# The following relationship of datasets from above does indicate us the next question:
# We would like to check the relationship between currency rates and possible losses on the conversion. And surely see which currency is the most popular to buy in what might indicate the most popular country by clients recognition.

In [41]:
# 5. sales department tables\Sales.SalesOrderHeader.csv - SHARED - Dmitriy
# 6. sales department tables\Sales.SalesOrderHeaderSalesReason.csv - T2 - Dmitriy
# 7. sales department tables\Sales.SalesReason.csv - T2 - Dmitriy

In [42]:
# Reading the source files
sales_order_header = pd.read_csv("sales department tables/Sales.SalesOrderHeader.csv")

sales_order_header_sales_reason = pd.read_csv("sales department tables/Sales.SalesOrderHeaderSalesReason.csv")

sales_reason = pd.read_csv("sales department tables/Sales.SalesReason.csv")

In [43]:
# Printing out all the columns for easy copy paste
print("Columns in sales_order_header:", sales_order_header.columns)
print("Columns in sales_order_header_sales_reason:", sales_order_header_sales_reason.columns)
print("Columns in sales_reason:", sales_reason.columns)

Columns in sales_order_header: Index(['SalesOrderID', 'RevisionNumber', 'OrderDate', 'DueDate', 'ShipDate',
       'Status', 'OnlineOrderFlag', 'SalesOrderNumber', 'PurchaseOrderNumber',
       'AccountNumber', 'CustomerID', 'SalesPersonID', 'TerritoryID',
       'BillToAddressID', 'ShipToAddressID', 'ShipMethodID', 'CreditCardID',
       'CreditCardApprovalCode', 'CurrencyRateID', 'SubTotal', 'TaxAmt',
       'Freight', 'TotalDue', 'Comment', 'rowguid', 'ModifiedDate'],
      dtype='object')
Columns in sales_order_header_sales_reason: Index(['SalesOrderID', 'SalesReasonID', 'ModifiedDate'], dtype='object')
Columns in sales_reason: Index(['SalesReasonID', 'Name', 'ReasonType', 'ModifiedDate'], dtype='object')

In [44]:
# Merging the tables on their keys according to the relationship in DB
merged_df_1= pd.merge(sales_order_header, sales_order_header_sales_reason, how='inner', on='SalesOrderID')

merged_df_1 = pd.merge(merged_df_1, sales_reason, how='inner', left_on='SalesReasonID', right_on='SalesReasonID')

In [45]:
merged_df_1.shape
# We have 27647 records and 31 columns 
# This makes me think that Currency conversion records are only made for foreign to the company currency region trade. Because it has almost the half (13671) more then the currency relationship records.

(27647, 31)

In [46]:
merged_df_1.describe()
# We can see that shipment method is boolean, probably stands for if there was shipment or not. Or client got it on the resell point. 1 - for shipment

,SalesOrderID,RevisionNumber,Status,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CurrencyRateID,Comment,SalesReasonID
count,27647.000000,27647.0,27647.0,27647.000000,0.0,27647.000000,27647.000000,27647.000000,27647.0,26518.000000,12654.000000,0.0,27647.000000
mean,60458.862589,8.0,5.0,18737.128839,NaN,6.214634,20698.011177,20678.667342,1.0,9655.185723,9249.799115,NaN,2.586176
std,8950.255680,0.0,0.0,5517.246612,NaN,2.963048,5360.341824,5392.947906,0.0,5552.299974,3132.535797,NaN,2.767710
min,43697.000000,8.0,5.0,11000.000000,NaN,1.000000,11400.000000,12.000000,1.0,1.000000,4.000000,NaN,1.000000
25%,53756.500000,8.0,5.0,13777.000000,NaN,4.000000,16013.500000,15999.500000,1.0,4864.250000,8919.000000,NaN,1.000000
50%,60852.000000,8.0,5.0,17902.000000,NaN,7.000000,20820.000000,20810.000000,1.0,9649.000000,10209.000000,NaN,1.000000
75%,68039.000000,8.0,5.0,23322.000000,NaN,9.000000,25344.000000,25339.500000,1.0,14432.750000,11359.000000,NaN,2.000000
max,75123.000000,8.0,5.0,29483.000000,NaN,10.000000,29883.000000,29883.000000,1.0,19237.000000,12431.000000,NaN,10.000000

In [47]:
merged_df_1.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate_x,SalesReasonID,ModifiedDate_y,Name,ReasonType,ModifiedDate
0,43697,8,31/05/2011 0:00:00,12/06/2011 0:00:00,07/06/2011 0:00:00,5,True,SO43697,NaN,10-4030-021768,21768,NaN,6,23148,23148,1,4319.0,530200Vi22686,4.0,"3.578,27 €","286,26 €","89,46 €","3.953,99 €",NaN,bc58017d-0735-4e0e-8930-292290c37abd,07/06/2011 0:00:00,5,31/05/2011 0:00:00,Manufacturer,Other,30/04/2008 0:00:00
1,43702,8,01/06/2011 0:00:00,13/06/2011 0:00:00,08/06/2011 0:00:00,5,True,SO43702,NaN,10-4030-027645,27645,NaN,4,22584,22584,1,8087.0,1230194Vi41919,NaN,"3.578,27 €","286,26 €","89,46 €","3.953,99 €",NaN,9310c7f0-9a84-4ce9-be08-f700fb1aadf7,08/06/2011 0:00:00,5,01/06/2011 0:00:00,Manufacturer,Other,30/04/2008 0:00:00
2,43703,8,01/06/2011 0:00:00,13/06/2011 0:00:00,08/06/2011 0:00:00,5,True,SO43703,NaN,10-4030-016624,16624,NaN,9,23967,23967,1,9497.0,1234632Vi48985,15.0,"3.578,27 €","286,26 €","89,46 €","3.953,99 €",NaN,cc630723-57f1-4e59-b1ef-bf77930b3906,08/06/2011 0:00:00,5,01/06/2011 0:00:00,Manufacturer,Other,30/04/2008 0:00:00
3,43706,8,02/06/2011 0:00:00,14/06/2011 0:00:00,09/06/2011 0:00:00,5,True,SO43706,NaN,10-4030-027621,27621,NaN,4,13264,13264,1,10912.0,230189Vi56258,NaN,"3.578,27 €","286,26 €","89,46 €","3.953,99 €",NaN,f02c4cb6-a5b5-4ce4-9473-cb084e383196,09/06/2011 0:00:00,5,02/06/2011 0:00:00,Manufacturer,Other,30/04/2008 0:00:00
4,43707,8,02/06/2011 0:00:00,14/06/2011 0:00:00,09/06/2011 0:00:00,5,True,SO43707,NaN,10-4030-027616,27616,NaN,4,20923,20923,1,19069.0,230298Vi99064,NaN,"3.578,27 €","286,26 €","89,46 €","3.953,99 €",NaN,0da77d6e-223e-4bc6-a2ed-43b387692c68,09/06/2011 0:00:00,5,02/06/2011 0:00:00,Manufacturer,Other,30/04/2008 0:00:00

In [48]:
merged_df_1.isnull().sum()
# Comment is still useless in this case since it has all the values missing.
# For some reason sales person is also fully missing as purchase order number.

SalesOrderID                  0
RevisionNumber                0
OrderDate                     0
DueDate                       0
ShipDate                      0
Status                        0
OnlineOrderFlag               0
SalesOrderNumber              0
PurchaseOrderNumber       27647
AccountNumber                 0
CustomerID                    0
SalesPersonID             27647
TerritoryID                   0
BillToAddressID               0
ShipToAddressID               0
ShipMethodID                  0
CreditCardID               1129
CreditCardApprovalCode     1129
CurrencyRateID            14993
SubTotal                      0
TaxAmt                        0
Freight                       0
TotalDue                      0
Comment                   27647
rowguid                       0
ModifiedDate_x                0
SalesReasonID                 0
ModifiedDate_y                0
Name                          0
ReasonType                    0
ModifiedDate                  0
dtype: int64